{% extends 'base.html.twig' %}

{% block title %}Quantique | Connexion{% endblock %}

{% block body %}
<div class="container">
    <div class="cont-flex cont-bg">
        <div class="login-form">
            <img class="login-img" src="{{asset('images/logo-quantique-web.png')}}" alt="logo-quantique">

            <form action="{{path('send_reset_mail')}}" method="post">
                <h1 class="h3 mb-3 font-weight-normal text-color1">MOT DE PASSE OUBLIÉ ?</h1>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control"
                    autocomplete="email" required autofocus>
                <button class="btn-type btn-login" type="submit">RÉINITIALISER MON MOT DE PASSE</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}