{% extends 'base.html.twig' %}

{% block title %}Quantique | Ajouter une entreprise{% endblock %}

{% block body %}

<div class="container">
    {% include "partials/_company_info.html.twig" %}

    <ul class="nav nav-tabs nav-tabs-company">
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="{{path('show_contracts', {'company': company.id})}}">Abonnements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="{{path('show_invoices', {'company': company.id})}}">Factures</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="{{path('show_accounts', {'company': company.id})}}">Comptes</a>
        </li>
        {% elseif app.user %}
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="{{path('show_stats', {'company': company.id})}}">Statistiques</a>
        </li>
        {% endif %}
    </ul>

    <div class="cont-grid section">
        <div class="form-facebook">
            <div class="cont-flex">
                <i class="fab fa-facebook-square fa-3x"></i>
                <h2>Compte Facebook</h2>
            </div>
            <form class="form-account" method="GET">
                <label for="emailFb">Email</label>
                <input class="form-control" type="text" name="emailFb">
                <label for="mdpFb">Mot de passe</label>
                <input class="form-control" type="password" name="mdpFb">
                <button class="btn-type btn-login" type="submit">Envoyer</button>
            </form>
        </div>
        <div class="form-google">
            <div class="cont-flex">
                <i class="fab fa-google-plus-square fa-3x"></i>
                <h2>Compte Google</h2>
            </div>
            <form class="form-account" method="GET">
                <label for="emailGoogle">Email</label>
                <input class="form-control" type="text" name="emailGoogle">
                <label for="mdpGoogle">Mot de passe</label>
                <input class="form-control" type="password" name="mdpGoogle">
                <button class="btn-type btn-login" type="submit">Envoyer</button>
            </form>
        </div>
        
    </div>
</div>
{% endblock %}